{%- macro minMaxSlider(id, label, minValue, maxValue, minValLabel, maxValLabel) -%}
  <div class="form-group ">
    <div class="row">
      <label class="col-sm-10">{{ label }}</label>
    </div>

    <div class="col-lg-offset-2">
      {% if minValue is defined %}
        {% set label = minValLabel|default(minValue) %}
        <label id="{{ id }}_min" class="small right">{{ label }}</label>
      {% endif %}

      <input class="slider slider-horizontal" id="{{ id }}" data-slider-id="{{ id }}"
             {% if maxValue is defined %}data-slider-max="{{ maxValue }}"{% endif %}
          {% if minValue is defined %}data-slider-min="{{ minValue }}"{% endif %}
             type="text"/>
      {% if maxValue is defined %}
        {% set label = maxValLabel|default(maxValue) %}
        <label id="{{ id }}_max" class="small left">{{ label }}</label>
      {% endif %}

    </div>
  </div>
{%- endmacro -%}

{%- macro navbar(availableModules, activeModule) -%}
  <ul class="nav navbar-right navbar-nav">
    {% for module in availableModules %}
      <li {% if activeModule.name == module.name %}class="active"{% endif %}>
        <a href="{{ path( module.path ) }}">{{ module.label }}</a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro sectionStart(section_title) -%}
<div class="row">
  <div class="col-sm-12">
    <section class="paragraph">
      <h3>{{ section_title }}</h3>
      {%- endmacro -%}

      {%- macro sectionEnd() -%}
    </section>
  </div>
</div>
{%- endmacro -%}

{%- macro teamMember(actor) -%}
  {% import _self as functions %}
  <div class="team-member">
    <img src="{{ asset('bundles/afproject/img/team/' ~ actor.getImageName()) }}" class="img-responsive img-circle" alt="">
    <h4>{{ actor.name }}</h4>

    <p class="text-muted small">
      {% if actor.getRole() is not empty -%}
        {{ actor.getRole() }}&nbsp;@&nbsp;
      {%- endif -%}
      <a href="{{ actor.getCompanyUrl() }}">{{ actor.getCompany() }}</a>
    </p>

    {% if actor.getSocialDataArray()|length > 0 %}
      {{ functions.socialButtons(actor.getSocialDataArray()) }}
    {% endif %}

    <p class="text-justify">
      {{ actor.getDescription() }}
    </p>

  </div>
{%- endmacro -%}

{%- macro socialButtons(socialDataArray) -%}

  <ul class="list-inline social-buttons">
    {% for social in socialDataArray %}
      <li>
        <a target="_blank" href="{{ social.getUrl() }}"><i class="fa {{ social.getIcon() }}"></i></a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{% macro navigationButtons(module) %}
  <div class="row">
    {% if module.getPreviousModule() is not null %}
      <div class="col-sm-2 col-xs-4">
        <p>
          <a class="btn  btn-default" href="{{ path( module.getPreviousModule().path) }}" role="button">
            &Lt;&nbsp;{{ module.getPreviousModule().label }}
          </a>
        </p>
      </div>
    {% endif %}
    {% if module.getNextModule() is not null %}
      <div class="col-sm-offset-10 col-xs-offset-8">
        <p>
          <a class="btn btn-primary btn-default" href="{{ path( module.getNextModule().path) }}" role="button">
            {{ module.getNextModule().label }}&nbsp;&Gt;
          </a>
        </p>
      </div>
    {% endif %}
  </div>
{% endmacro %}
